<!-- Contains the page that would allow a person to create a new book review -->
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Create A Book Review</title>
    <link rel="stylesheet" href="{% static "./book-review.css"%}" />
  </head>
  <body>
    <header>
      <div>My Book Reviews</div>
      <nav><a href="{% url "reviews_list" %}">Back to list</a></nav>
    </header>
    <main>
      <div class="book-review-form">
        <form method="post">
          {% csrf_token %} 
          {{ form.as_p }}
          <div>
            <button>Submit</button>
          </div>
        </form>
      </div>
    </main>
    <footer>
      <div>Copyright 2022 by Junella</div>
      <p>Personal reviews on recent reads</p>
    </footer>
  </body>
</html>
