{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Book Reviews</title>
    <link rel="stylesheet" href="{% static "book-reviews.css" %}" />
  </head>
  <body>
    <header>
      <div>
        <nav>
          <div>My Book Reviews</div>
          <a href="{% url "create_review" %}">Create a review</a>
        </nav>
      </div>
    </header>
    <main>
      {% for review in reviews %}
      <div class="main-page-book-review">
        <img class="book-cover" src="{{ review.cover_image }}" />
        <h2 class="book-title">
          <a href="detail.html">{{ review.title }}</a>
        </h2>
        <div class="book-rating">{{ review.rating }}</div>
        <div class="book-authors">{{ review.authors }}</div>
        <h3>Summary</h3>
        <p>{{ review.summary }}</p>
      </div>
      {% endfor %}
    </main>
    <footer>
      <div>Copyright 2022 by Junella</div>
      <p>Personal reviews on recent reads</p>
    </footer>
  </body>
</html>
